.swiper
    display: none
a
    color: #000000
    text-decoration: none
    font-family: 'MyriadR'
p
    margin: 0px
.w-85
    width: 85%
.bg-inherit
    background-color: inherit
.bg-red
    background: #E41636
body
    background: #E6E6E6
button:hover
    box-shadow: 5px 0px 20px #f300009c
    transition: 0.5s
button
    transition: 0.5s
button.nav-link:hover
    box-shadow: none
    scale: 1.1
    transition: 0.5s
button.nav-link
    transition: 0.5s
.button-first:hover
    box-shadow: 5px 0px 20px #0303039c
.container-wrapper
    width: 80%
    margin: auto
.button-first
    position: relative
    left: 65%
    top: 17%
.h3-big
    font-style: normal
    font-weight: 400
    text-transform: uppercase
    font-size: 128px
    line-height: 128px
    font-family: "Sport"
    padding-bottom: 38px
ul
    list-style: none
nav
    padding-top: 32px
    width: 90%
    a:hover
        color: #E41636
    ul
        list-style: none
        display: flex
        justify-content: end
        li
            padding-left: 25px
            font-weight: 500
            font-size: 16px
            line-height: 19px
            color: #000000
            font-family: 'MyriadR'
.first-block
    background-image: url(./image/first-scren.svg)
    height: 1000px
    background-repeat: no-repeat
    background-position: top
    background-size: cover
.numbers-block
    position: relative
    top: -110px
.allfree
    z-index: -1
    margin-left: -20px
    white-space: nowrap
    position: relative
.tab-content__wraper
    .text-red
        height: 80px
.about
    &__event
        &-text
            width: 50%
            font-family: 'MyriadR'
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 127%
            color: #000000
            h3
                padding-top: 40px
        &-img
            background-image: url(./image/Vector.png)
            background-repeat: no-repeat
            background-size: contain
            background-position: right
            height: 550px
            img
                position: relative
                left: -40px
                top: -50px
                height: 550px
.schedule
    background-image: url(./image/bg-2.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: inherit
    height: 220px
    margin-top: 50px
    &__titletabs
        font-weight: 400
        font-size: 96px
        line-height: 96px
        text-transform: uppercase
        font-family: "Sport"
    &__wrapper
        background: #2D74CA
        padding-bottom: 20px
        &-title
            font-weight: 400
            font-size: 36px
            line-height: 36px
            font-family: "Sport"
            padding-top: 90px
    &__button
        padding-left: 12px
        button
            font-weight: 400
            font-size: 14px
            line-height: 17px
            color: #FFFFFF
            font-family: 'MyriadR'
            background-color: #2D74CA
.text-red
    color: #E41636
    font-weight: 400
    font-size: 36px
    line-height: 36px
    text-transform: uppercase
    font-family: "Sport"
.text-blue
    color: #2D74CA
    font-weight: 400
    font-size: 36px
    line-height: 36px
    text-transform: uppercase
    font-family: "Sport"
.tab-text
    font-weight: 400
    font-size: 16px
    line-height: 25px
    font-family: 'MyriadR'
.tab-textElips
    font-weight: 400
    font-size: 16px
    line-height: 17px
    padding-left: 10px
    font-family: 'MyriadR'
.button-card
    width: 100%
    height: 70px
    text-transform: uppercase
    font-weight: 500
    font-size: 36px
    line-height: 36px
    font-family: "Sport"
.galery
    font-weight: 400
    font-size: 36px
    line-height: 36px
    font-family: "Sport"
    color: #fff
    &__wraper
        background-color: #2D74CA
    &__wraper:nth-child(1)
        margin-right: 15px

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
    background-color: #E41636
.nav-link:focus, .nav-link:hover
    color: #fff
.nav-tabs
    justify-content: space-between
    width: 80%
    margin: auto
.tab-pane
    ul
        grid-template-columns: 33% 33% 33%
        grid-gap: 10px
.nav-tabs .nav-link
    border: none
    color: #ffffff4d !important
    font-family: "Sport"
    font-size: 96px
    line-height: 96px
.nav-tabs.nav-item.show.nav-link, .nav-tabs .nav-link.active
    background-color: inherit
    border: none
    color: #fff !important
.tab-content
    justify-content: space-between
    width: 80%
    margin: auto
    &__wraper
        height: 270px
    &__block
        padding: 30px
    .text-red
        height: 70px

.tab-content-galery
    width: 100%

.freeEnter
    font-size: 58px
    line-height: 58px
    font-weight: 500
    font-family: "Sport"
.swiper-navigation
    width: 100px
    padding-right: 20px
.swiper-button-prev
    margin-right: 30px
.swiper-button-next:after, .swiper-button-prev:after
    color: #2D74CA
    background-color: #fff
    padding: 5px 20px
    border-radius: 30px
    font-size: 30px
    width: 50px
    height: 50px
    align-items: center
    display: flex
    justify-content: center
.swiper-slide
    img
        width: 100%
    &-text
        p
            font-family: monospace
            text-align: center
        p:nth-child(1)
            font-weight: 500
            font-size: 32px
            line-height: 32px
            text-transform: uppercase
            font-family: "Sport"
        p:nth-child(2)
            font-weight: 400
            font-size: 16px
            line-height: 140%
            font-family: 'MyriadR'
        p:nth-child(3)
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 17px
            color: #ffffff4d
            font-family: 'MyriadR'
.parent
    display: grid
    grid-template-columns: 25% 25% 50%
    grid-template-rows: repeat(1fr 1fr)
    gap: 10px
    img
        width: 100%
        height: 100%
.div1
    grid-area: 1 / 1 / 2 / 2
.div2
    grid-area: 1 / 2 / 2 / 3
.div3
    grid-area: 2 / 1 / 3 / 3
.div4
    grid-area: 1 / 3 / 3 / 5
.bg-galery
    // background-image: url(./image/bg-galery.png)
    background: #2D74CA
    background-repeat: no-repeat
    background-size: cover
    // background-position-y: -50px
    background-position-y: bottom
.cart
    padding-top: 85px
    padding-bottom: 85px
    img
        width: 100%
.partner
    font-style: normal
    font-weight: 400
    font-size: 96px
    line-height: 96px
    font-family: "Sport"
    &__img
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
        gap: 60px
        object-fit: cover
        img
            width: 100%
        div
            padding-right: 5%

.bg-quest
    background-image: url(./image/bg-quest.png)
    background-repeat: no-repeat
    background-size: cover
    background-position-y: -50px
.question-card
    grid-template-columns: 33% 33% 33%
    gap: 20px
.front
    font-family: "Sport"
    font-style: normal
    font-weight: 400
    font-size: 36px
    line-height: 36px
    color: #2D74CA
    text-transform: uppercase
    &__img
        left: 100%
        top: 100%
.back
    background-color: #E41636
    &__title
        font-family: "Sport"
        font-style: normal
        width: 60%
        font-size: 23px
        line-height: 25px
        color: #ffffff9e
        text-transform: uppercase
    &__text
        font-weight: 400
        font-size: 17px
        line-height: 21px
        font-family: 'MyriadR'
footer
    background-color: #1C1D18
.footer
    &__top
        padding-top: 50px
        flex-direction: row-reverse
        p
            font-family: 'MyriadR'
        &-img
            img
                padding-right: 30px
        &-text
            .title
                font-weight: 400
                font-size: 64px
                line-height: 64px
                font-family: "Sport"
            .subtitle
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 17px
                font-family: 'MyriadR'
            ul
                list-style: disc
                font-weight: 400
                font-size: 14px
                line-height: 17px
                font-family: 'MyriadR'
    &__bottom
        &-mail
            font-family: 'MyriadR'
            .title
                font-size: 32px
                line-height: 38px
                text-transform: uppercase
            .subtitle
                font-size: 14px
                line-height: 17px
        &-other
            a
                color: #ffffff4d
.privacy_policy
    p
        font-weight: 400
        font-size: 64px
        line-height: 64px
        font-family: "Sport"
        text-align: center
    ul
        padding-top: 50px
    li
        padding-top: 20px
        font-weight: 400
        font-size: 17px
        line-height: 21px
        font-family: 'MyriadR'
@media ( max-width: 1600px )
    .button-first
        left: 65.5%
        top: 14%
    .numbers-block
        top: -230px
    .about__event
        margin-top: -150px
    .label
        height: 300px
@media ( max-width: 1470px )
    .tab-content
        &__wraper
            height: 300px
    .about
        &__event
            &-text
                width: 60%
            &-img
                // width: 20%
                img
                    left: -30px
                    top: 90px
                    height: 300px

@media ( max-width: 1440px )
    .button-first
        left: 67.5%
    .text-red
        font-size: 30px
    .text-blue
        font-size: 30px
@media ( max-width: 1200px )
    .button-first
        left: 72%
        top: 13%
    .about
        &__event
            &-text
                width: 80%
            &-img
                width: 20%
                img
                    left: -10px
                    top: 120px
                    height: 280px
    .tab-content
        &__wraper
            height: 350px
        &__block
            padding: 30px
    .text-blue
        font-size: 25px
    .text-red
        font-size: 25px
    .bg-galery
        // background-position-y: 40px
    .cart
        img
            width: 100%
    .label
        height: 360px
    .nav-tabs
        justify-content: space-around
        li
            padding-right: 20px
@media ( max-width: 990px )
    .first-block
        background-image: url(./image/first-scren1.png)
        height: 930px
        background-repeat: no-repeat
        background-position: right
        background-size: contain
    .numbers-block
        top: -80px
        padding-bottom: 50px
    .allfree
        margin-left: -10px
        display: inline-block
        margin-top: 10px
    .about
        &__event
            &-text
                width: 100%
                font-size: 14px
                line-height: 140%
            h3
                padding-top: 70px
                padding-bottom: 30px
            &-img
                display: none
    .tab-pane
        ul
            grid-template-columns: 50% 50%
            grid-gap: 10px
    .tab-content
        &__wraper
            height: 350px
    .swiper-navigation
        display: none !important
    .bg-galery
        // background-position-y: -30px
        // background-position-x: -250px
    .bg-quest
        padding-top: 50px
    .parent
        display: grid
        grid-template-columns: 50% 50%
    .partner
        &__img
            grid-template-columns: 1fr 1fr 1fr
    .div4
        grid-area: 1 / 1 / 3 / 3
    .div1
        grid-area: 3 / 1 / 4 / 2
    .div2
        grid-area: 3 / 2 / 4 / 3
    .div3
        grid-area: 4 / 1 / 5 / 3
    .question-card
        grid-template-columns: 50% 50%
    .text-first
        font-family: "Sport"
        top: -70px
        position: relative

        &__titile
            font-size: 36px
            line-height: 36px
            span
                color: #e51f2f5b
    .button-first
        left: 5%
        width: 50%
        text-align: center
        top: 0px
        display: flex
        justify-content: center
        margin-bottom: 30px
    .back
        &__text
            padding-top: 10px
    .footer
        &__top
            flex-direction: column
    .privacy_policy
        p
            font-weight: 400
            font-size: 36px
            line-height: 36px
            font-family: "Sport"
            text-align: center
        ul
            padding-top: 30px
        li
            padding-top: 20px
            font-weight: 400
            font-size: 15px
            line-height: 21px
            font-family: 'MyriadR'
@media ( max-width: 750px )
    .first-block
        height: 850px
@media ( max-width: 690px )
    .label
        height: 280px
    .first-block
        height: 780px
    .h3-big
        font-size: 64px
        line-height: 64px
        padding-bottom: 20px
    .schedule
        height: 120px
        margin-top: 50px
        &__titletabs
            text-align: left
    .container-wrapper
        width: 90%
    .schedule
        &__wrapper
            &-title
                text-align: left !important
                width: 90%
                margin: auto
    .nav-tabs
        width: 90%
        flex-direction: column
        justify-content: start
    .nav-tabs .nav-link
        font-size: 64px
        line-height: 64px
    .tab-content
        width: 90%
        &__wraper
            height: 280px
    .cart
        img
            width: 100%
            height: 470px
            object-fit: cover
    .bg-galery
        // background-position-y: -100px
        // background-position-x: 0px
        // padding-bottom: 100px
    .partner
        font-size: 50px
        line-height: 64px
        &__img
            grid-template-columns: 1fr 1fr
    .tab-pane
        ul
            grid-template-columns: 100%
            grid-row-gap: 20px
    .question-card
        grid-template-columns: 100%
@media ( max-width: 600px )
    .first-block
        height: 680px
        background-size: cover
        background-position: center
    .footer
        &__top
            &-text
                .title
                    font-weight: 400
                    font-size: 48px
                    line-height: 48px
                    font-family: "Sport"
                .subtitle
                    font-style: normal
                    font-weight: 400
                    font-size: 14px
                    line-height: 17px
                    font-family: 'MyriadR'
                ul
                    list-style: disc
                    font-weight: 400
                    font-size: 12px
                    line-height: 14px
                    font-family: 'MyriadR'
        &__bottom
            &-mail
                font-family: 'MyriadR'
                .title
                    font-size: 13px
                    line-height: 29px
                .subtitle
                    font-size: 12px
                    line-height: 14px
            &-other
                font-size: 12px
                line-height: 14px
                flex-direction: column-reverse
                align-items: start !important
@media ( max-width: 575px )
    .label
        height: 340px
    .footer
        &__top
            &-img
                padding-bottom: 50px !important
@media ( max-width: 470px )
    .galery
        font-size: 36px
        line-height: 36px
        width: 300px
        &__wraper:nth-child(1)
            margin-right: 0px
            margin-bottom: 10px
    .allfree
        margin-top: 0px
        margin-left: 0px
    .tab-content
        &__wraper
            height: 350px
@media ( max-width: 420px )
    .first-block
        height: 500px
        background-size: cover
        background-position: center
    .button-first
        width: 60%

.mobile ul li
    display: inline-block

.mobile ul li a
    color: #333
    display: inline-block
    padding: 1em 3em
    text-decoration: none
    border-bottom: 2px solid #fff
    transition-property: all .2s linear 0s
    font-size: 16px
.mobile ul li a:hover
    color: #34B484
.button-mob
    display: inline
    position: absolute
    right: 20px
    top: 10px
    z-index: 999
    font-size: 30px
.btn-open:after
    color: #E51F2F
    content: "\f0c9"
    font-family: "FontAwesome"
    transition-property: all .2s linear 0s
.btn-close
    background: none
.btn-close:after
    color: #fff
    content: "\f00d"
    font-family: "FontAwesome"
    transition-property: all .2s linear 0s
    font-size: 30px
    opacity: 1
.overlay
    display: none
    position: absolute
    top: 0
    height: 550px
    width: 100%
    background: #E41636
    overflow: hidden
    z-index: 99
    ul
        top: 70px
        left: 40px
        li
            padding-bottom: 25px
    a
        color: #fff
        font-size: 36px
        line-height: 36px
        font-family: "Sport"
        text-transform: uppercase
.btn-close:hover
    opacity: 1
.btn-close:focus
    outline: 0
    box-shadow: none
    opacity: 1
